bidict==0.22.0
gym==0.21.0

eclipse-sumo==1.14.1
libsumo==1.14.1
sumolib==1.14.1
traci==1.14.1
shapely==1.8.4
matplotlib==3.5.2
numba==0.56.0
numpy==1.22.4
pandas==1.4.3
scikit-image==0.19.3
scipy==1.9.0
sparse==0.13.0
tqdm==4.64.1
tensorboardX==2.5.1
torch==1.12.1
ujson==5.4.0
